apps/bfagent/n8n_workflows/cad_processing_pipeline.json
{
  "name": "CAD Processing Pipeline",
  "nodes": [
    {
      "parameters": {},
      "name": "File Upload Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "execute",
        "server": "cad-mcp",
        "tool": "cad_parse_dwg",
        "parameters": "={\"file_path\": \"{{$json.file_path}}\", \"format\": \"{{$json.format || 'dxf'}}\"}",
        "contextId": "={{$workflow.id}}_{{$execution.id}}"
      },
      "name": "1. Parse DWG/DXF",
      "type": "n8n-nodes-base.bfAgentMcp",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "execute",
        "server": "cad-mcp",
        "tool": "cad_parse_ifc",
        "parameters": "={\"file_path\": \"{{$json.file_path}}\"}",
        "contextId": "={{$workflow.id}}_{{$execution.id}}"
      },
      "name": "1. Parse IFC",
      "type": "n8n-nodes-base.bfAgentMcp",
      "typeVersion": 1,
      "position": [450, 450]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.file_path}}",
              "operation": "contains",
              "value2": ".ifc"
            }
          ]
        }
      },
      "name": "File Type Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 375]
    },
    {
      "parameters": {
        "operation": "execute",
        "server": "cad-mcp",
        "tool": "cad_calculate_din277",
        "parameters": "={\"project_id\": \"{{$json.result.project_id}}\", \"include_nrf\": true, \"include_bri\": true}",
        "contextId": "={{$workflow.id}}_{{$execution.id}}",
        "mergePreviousResult": true
      },
      "name": "2. Calculate DIN 277",
      "type": "n8n-nodes-base.bfAgentMcp",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "execute",
        "server": "cad-mcp",
        "tool": "cad_calculate_woflv",
        "parameters": "={\"project_id\": \"{{$json.result.project_id}}\", \"balcony_factor\": 0.5}",
        "contextId": "={{$workflow.id}}_{{$execution.id}}",
        "mergePreviousResult": true
      },
      "name": "3. Calculate WoFlV",
      "type": "n8n-nodes-base.bfAgentMcp",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "execute",
        "server": "cad-mcp",
        "tool": "cad_generate_raumbuch",
        "parameters": "={\"project_id\": \"{{$json.result.project_id}}\", \"output_path\": \"{{$json.output_dir}}/raumbuch.xlsx\"}",
        "contextId": "={{$workflow.id}}_{{$execution.id}}",
        "mergePreviousResult": true
      },
      "name": "4a. Generate Raumbuch",
      "type": "n8n-nodes-base.bfAgentMcp",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "execute",
        "server": "cad-mcp",
        "tool": "cad_generate_gaeb",
        "parameters": "={\"project_id\": \"{{$json.result.project_id}}\", \"output_path\": \"{{$json.output_dir}}/gaeb_x84.xml\"}",
        "contextId": "={{$workflow.id}}_{{$execution.id}}",
        "mergePreviousResult": true
      },
      "name": "4b. Generate GAEB",
      "type": "n8n-nodes-base.bfAgentMcp",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "operation": "execute",
        "server": "cad-mcp",
        "tool": "cad_export_ifc",
        "parameters": "={\"project_id\": \"{{$json.result.project_id}}\", \"output_path\": \"{{$json.output_dir}}/export.ifc\", \"ifc_version\": \"IFC4\"}",
        "contextId": "={{$workflow.id}}_{{$execution.id}}",
        "mergePreviousResult": true
      },
      "name": "4c. Export IFC",
      "type": "n8n-nodes-base.bfAgentMcp",
      "typeVersion": 1,
      "position": [1250, 600]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "name": "Merge Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "path": "={{$json.output_dir}}",
        "fileContent": "=Processing complete for {{$json.file_path}}\n\nResults:\n- Raumbuch: {{$json.raumbuch_path}}\n- GAEB: {{$json.gaeb_path}}\n- IFC Export: {{$json.ifc_export_path}}\n\nAreas (DIN 277):\n- BGF: {{$json.din277.bgf}} m²\n- NRF: {{$json.din277.nrf}} m²\n- BRI: {{$json.din277.bri}} m³\n\nWoFlV: {{$json.woflv.total}} m²",
        "fileName": "processing_report.txt"
      },
      "name": "5. Generate Report",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "subject": "CAD Processing Complete: {{$json.file_name}}",
        "text": "CAD file processing completed!\n\nFile: {{$json.file_path}}\n\nOutputs:\n- Raumbuch (Excel): {{$json.raumbuch_path}}\n- GAEB X84: {{$json.gaeb_path}}\n- IFC Export: {{$json.ifc_export_path}}\n\nArea Calculations:\n- BGF: {{$json.din277.bgf}} m²\n- NRF: {{$json.din277.nrf}} m²\n- Wohnfläche: {{$json.woflv.total}} m²\n\nFull report: {{$json.report_path}}",
        "toEmail": "={{$json.user_email}}"
      },
      "name": "6. Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "File Upload Trigger": {
      "main": [[{"node": "1. Parse DWG/DXF", "type": "main", "index": 0}]]
    },
    "1. Parse DWG/DXF": {
      "main": [[{"node": "2. Calculate DIN 277", "type": "main", "index": 0}]]
    },
    "2. Calculate DIN 277": {
      "main": [[{"node": "3. Calculate WoFlV", "type": "main", "index": 0}]]
    },
    "3. Calculate WoFlV": {
      "main": [
        [
          {"node": "4a. Generate Raumbuch", "type": "main", "index": 0},
          {"node": "4b. Generate GAEB", "type": "main", "index": 0},
          {"node": "4c. Export IFC", "type": "main", "index": 0}
        ]
      ]
    },
    "4a. Generate Raumbuch": {
      "main": [[{"node": "Merge Outputs", "type": "main", "index": 0}]]
    },
    "4b. Generate GAEB": {
      "main": [[{"node": "Merge Outputs", "type": "main", "index": 1}]]
    },
    "4c. Export IFC": {
      "main": [[{"node": "Merge Outputs", "type": "main", "index": 2}]]
    },
    "Merge Outputs": {
      "main": [[{"node": "5. Generate Report", "type": "main", "index": 0}]]
    },
    "5. Generate Report": {
      "main": [[{"node": "6. Send Notification", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "CAD Processing",
      "createdAt": "2025-12-10T15:00:00.000Z",
      "updatedAt": "2025-12-10T15:00:00.000Z",
      "id": "2"
    }
  ],
  "pinData": {},
  "versionId": "1"
}
